@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #646060;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Inter';
  src: url('/path/to/Inter-Medium.woff') format('woff');
}


vertical-menu {
  height: 100vh;
  width: 80px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vertical-menu .menu-item,
.vertical-menu .footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.vertical-menu .menu-item:hover,
.vertical-menu .footer-icon:hover {
  color: cyan;
}

.vertical-menu .logo {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
}

.header {
  background-color: #a4c991;
  position: 'absolute';
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underlay-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-display {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  transition: opacity 0.5s ease;
}

.fade-text {
  opacity: 0;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  border: 2px solid #000;
  background-color: #f0f0f0;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

button:focus {
  background-color: #ccc;
}